.pan {
box-shadow: 10px 1px 10px 10px rgba(0, 0, 0, 0.37);
width: 1200px;
margin-left: 100px;
border-radius: 10px;


}
.tab-size {
margin-top: 50px;
padding-top: 30px;
padding-bottom: 30px;
width : 1300px;
height: 700px;
padding-left: 100px;
margin-left: -110px;
Font-family: Roboto, Arial, sans-serif;
color: rgba(0, 0, 0, 0.726);
}

.size-img{
    height: 120px;
    width: 160px;
}

.btn-ctrl{
    display: flex;
    margin-top: 5px;
    justify-content: center;
   
}
.plus, .minus{
height: 20px;
border-radius: 5px;
border: none;
margin-top: 15px;
margin-inline: 10px;
background-color: #e6dddd;
box-shadow: 1px 0px 1px 0px grey;
}
.del-lik{
/*height: 5px;*/
/*width: 5px;*/

    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: large;
    color: #424242;
}
.delete, .like{
background-color: transparent;
height: 50px;
width: 50px;
border: none;
color: #424242;
}
